#!/bin/bash
## Config-File for open_runs.sh
## Author: Thomas Rudorf
## thomasrudorf@gmx.de
## Date:  31.12.2025

# Mail wenn fertig 
#fertig_mail="th-ru@gmx.de"

# Anzahl der CPU-Kerne
CORES='4'

# Samos Daten löschen ( 0 oder 1 )
del_samos_data='1'

# Erstelle Timeseries-Files ( 0 oder 1 )
create_timeseries='1'

# Erstelle Pickle-Files ( 0 oder 1 )
create_pickle='1'


# parameter file
parfile='open_boundary_generic.conf'

## INPUT
# Anzahl der Input-Zellen
cellcountval='16 64'

# Input Random-Anzahl
randomval='5'

# Wenn infile gesetzt ist, werden cellcountval und randomval ignoriert.
#infile='test.input'
#infile_bound='test.boundary'

## Alignment
tau_start='0.12'
tau_end='0.13'
tau_increment='0.001'
# Wenn tauval gesetzt ist, werden die anderen Tau-Variablen ignoriert.
# tauval='0.12 0.121 0.122'

# Modus Translationsabzug (modval='1')
modval='0'

# Parameter \Gamma of the vertex model
gamval='0.1'

# And noise level (aka 1/\tau_r in the paper)
nuval='0.05'

# VP Federstärke
# Also stays fixed as a stiffness scale
kval='1.0'

# A slight wrinkle here (due to an earlier mistake): 
# permult = - \Lambda / 2\Gamma, 
# It is related to the dimensionless parameter p_0 by
# p_0 = 2*permult/sqrt(A_0) = 1.1547 * permult
permult='2.8'

# And the line tension as a third parameter
# lambda
lineval='0.1'

# Finally, active driving velocity (aka f_a in the paper)
v0val='0.05'

# Runtime set globally
trun='300000'

# Number of saved files skipped as equilibration time
skip='50'

# Skip Compute_Order
skip_cpo='750'

# Frequenz
freq='200'

############################################################################
## Externe Skripte

# Run sort_plot.sh ( 0 oder 1 )
sort_plot='1'

# Mögliche Spalten: cc rand tau v k nu gamma permult line
# csv/png Sortierung (Variable kann auch none sein oder mehrere Spalten enthalten.)
sort_plot_csv_sort='cc'
# Diagramm-Gruppierung (Variable kann auch none sein.)
sort_plot_group='rand'
# Diagramm X-Wert
sort_plot_xwert='tau'


# Run plot_time_series.py ( 0 oder 1 )
plot_time_series='1'

# Run zip-runs.sh ( 0 oder 1 )
zip_runs='1'

